@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
    /* Color styles */
    --bg-dark: hsla(0, 0%, 88%, 1);
    --bg: hsla(0, 0%, 90%, 1);
    --bg-light: hsla(0, 0%, 95%, 1);
    --text: hsla(0, 0%, 5%, 1);
    --text-muted: hsla(0, 0%, 30%, 1);
    --border: hsla(0, 0%, 70%, 1);
    --primary-dark: hsla(44, 80%, 45%, 1);
    --secondary: hsla(224, 80%, 35%, 1);
    --primary: hsla(39, 92%, 50%, 1);
    --danger: hsla(0, 78%, 65%, 1);
    --success: hsla(90, 70%, 65%, 1);
    --modal-overlay: hsla(0, 0%, 0%, 0.6);

    --bg-gradient: linear-gradient(0deg, var(--bg) 0%, var(--bg-light) 100%);

    /* base size: base (16px) */
    --h1: 2rem;
    --h2: 1.62rem;
    --h3: 1.12rem;
    --base: 1rem;
    --extra-small: 0.75rem;
    --small: 0.88rem;

    /* Effect styles */
    --shadow-sm: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 1px 2px rgba(0, 0, 0, 0.17), inset 0px 1px 2px rgba(255, 255, 255, 0.16);
    --shadow-md: 0px 4px 8px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.17), inset 0px 1px 2px rgba(255, 255, 255, 0.29);
    --shadow-lg: 0px 6px 10px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.17), inset 0px 1px 2px rgba(255, 255, 255, 0.33);

    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 12px;

}

.dark {
    /* Color styles */
    --bg-light: hsla(0, 0%, 15%, 1);
    --bg: hsla(0, 0%, 10%, 1);
    --bg-dark: hsla(0, 0%, 5%, 1);
    --text: hsla(0, 0%, 95%, 1);
    --text-muted: hsla(0, 0%, 70%, 1);
    --border: hsla(0, 0%, 30%, 1);
    --primary: hsla(44, 80%, 65%, 1);
    --secondary: hsla(224, 80%, 65%, 1);
    --primary-dark: hsla(39, 92%, 38%, 1);
    --danger: hsla(0, 78%, 35%, 1);
    --success: hsla(90, 70%, 35%, 1);
    --modal-overlay: hsla(0, 0%, 0%, 0.6);

    --bg-gradient: linear-gradient(0deg, var(--bg) 0%, var(--bg-light) 100%);

    /* Effect styles */
    --shadow-sm: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 2px rgba(0, 0, 0, 0.15), inset 0px 1px 2px rgba(255, 255, 255, 0.15);
    --shadow-md: 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.15), inset 0px 1px 2px rgba(255, 255, 255, 0.25);
    --shadow-lg: 0px 6px 10px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.15), inset 0px 1px 2px rgba(255, 255, 255, 0.38);
}

@theme inline {
    --text-xs: var(--extra-small);
    --text-sm: var(--small);
    --text-base: var(--base);
    --text-lg: var(--h3);
    --text-xl: var(--h2);
    --text-2xl: var(--h1);

    --color-text: var(--text);
    --color-text-muted: var(--text-muted);
    --color-primary: var(--primary);
    --color-primary-dark: var(--primary-dark);
    --color-background: var(--bg);
    --color-background-light: var(--bg-light);
    --color-background-dark: var(--bg-dark);
    --color-border: var(--border);
    --color-secondary: var(--secondary);
    --color-danger: var(--danger);
    --color-success: var(--success);
    --color-overlay: var(--modal-overlay);

    --radius-sm: var(--radius-sm);
    --radius-md: var(--radius-md);
    --radius-lg: var(--radius-lg);

    --shadow-sm: var(--shadow-sm);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);

    --breakpoint-xs: 30rem;
}

body {
    color: var(--text);
}

.bg-gradient {
    background: var(--bg-gradient);
}
